.container {
    display: flex;    
    flex-direction: column;      
    justify-content: center; 
}

.formCont{
    margin: auto;
}
.inputCont{
    margin:10px;
    padding: 10px;
}

.btn{
    margin:10px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
}